{% extends "base.html" %}

{% block content %}

<section class="" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="container"><h4>Are you ready to pay?</h4>

                            
                            <button class="btn btn-primary btn-lg btn-block" id="checkoutBtn">Complete Check-Out</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}