{% extends 'base.html' %}

{% block content %}
<!-- {{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='Movie.css') }}"> -->

<div class="container mt-4">

    {% for row in movieNameAndTicket |batch(3) %}
    <div class="row g-3">

        {% for column in row %}

        <div class="col-4 mb-2">
            <div class="card">
                <div class="card-body">
                  <p class="card-text text-center">{{column}}</p>
                  <div class="text-center">
                <form action="/buyTicketScreen" method="POST">
                    <input type="hidden" name="movieName" value="{{column}}">
                    <button type="submit" class="btn btn-primary">Buy Ticket</button>
                </form>

<!--                  <button type="button" class="btn btn-primary">Buy Ticket</button>-->
                </div>

                </div>

            </div>
        </div>

        {% endfor %}

    </div>
    {% endfor %}

</div>


{% endblock %}


